.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .slot {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 80px;
  }
  
  section {
    position: absolute;
    border-radius: 15px !important;
    /* border: 3px solid black !important; */
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-color: black;
    border-radius: 2px;
    border: 1px solid lightgrey;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    cursor: default;
  }
  
  .container {
    position: absolute;
    top: 2px;
    width: 100%;
    transition: top 2s;
    text-align: center;
  }
  
